{% if customer %}
<a class="action-wishlist tile-actions--btn wishlist-btn wishlist" href="javascript:void(0)" data-product-handle="{{ product.handle }}">
  <span class="add-wishlist">{% if settings.heart_cart_icon %}{{ settings.heart_cart_icon }}{% else %}<i class="ti-heart"></i>{% endif %}</span>
  <span class="loading-wishlist animated infinite rotateOut"><i class="feather-loader"></i></span>
  <span class="remove-wishlist"><i class="fa fa-heart"></i></span>
</a>
{% else %}
<a class="wishlist" href="/account/login">
  {% if settings.heart_cart_icon %}{{ settings.heart_cart_icon }}{% else %}<i class="ti-heart"></i>{% endif %}
</a>
{% endif %}